In [2]:
import os, re
import pandas as pd

df = pd.read_csv('survey.csv')

#df

   sex  income  English  jobSatisfaction  stress
0    m    3000      500                5       5
1    f    4000      600                4       4
2    f    5000      700                3       2
3    m    6000      800                2       2
4    m    4000      700                2       5
5    m    3000      600                1       5
6    m    3000      500                3       1
7    m    5000      500                3       2
8    f    4999      600                4       3
9    f    5000      700                5       4
10   m    3000      500                5       5
11   m    4000      600                4       4
12   m    5000      700                3       2
13   m    6000      800                2       5
14   f    4000      700                2       4
15   f    3000      600                1       2
16   m    3000      500                3       2
17   m    5000      500                3       5
18   m    4999      600                4       5
19   m    5000      500                3       1
20   f    4999      600                4       2
21   f    5000      700                5       3
22   f    3000      500                5       4

In [5]:
df.mean()

df.income.mean()
df.income.sum()

C:\Users\user\AppData\Local\Temp\ipykernel_30052\241605929.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

98997

In [7]:
df.median()
df.income.mean()

C:\Users\user\AppData\Local\Temp\ipykernel_30052\2135388473.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

4304.217391304348

In [10]:
# (데이터 성격을 보여주는 기본자료. 표준편차, 분산, 최대, 최소값 등)

df.describe()

            income     English  jobSatisfaction     stress
count    23.000000   23.000000        23.000000  23.000000
mean   4304.217391  608.695652         3.304348   3.347826
std    1019.478341   99.603959         1.258960   1.433644
min    3000.000000  500.000000         1.000000   1.000000
25%    3000.000000  500.000000         2.500000   2.000000
50%    4999.000000  600.000000         3.000000   4.000000
75%    5000.000000  700.000000         4.000000   5.000000
max    6000.000000  800.000000         5.000000   5.000000

In [11]:
df.sex.value_counts()

m    14
f     9
Name: sex, dtype: int64

In [13]:
# 두 집단 평균 구하기 : groupby()

df.groupby(df.income).mean()

           English  jobSatisfaction    stress
income
3000    528.571429         3.285714  3.428571
4000    650.000000         3.000000  4.250000
4999    600.000000         4.000000  3.333333
5000    614.285714         3.571429  2.714286
6000    800.000000         2.000000  3.500000

In [19]:
from scipy import stats

corr = df.corr()
corr

df.income.corr(df.stress)

df.to_csv('corr.csv')

In [24]:
#!pip install statsmodels

import statsmodels.formula.api as smf

model = smf.ols(formula = 'jobSatisfaction~English', data = df)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        jobSatisfaction   R-squared:                       0.097
Model:                            OLS   Adj. R-squared:                  0.054
Method:                 Least Squares   F-statistic:                     2.266
Date:                Thu, 11 Aug 2022   Prob (F-statistic):              0.147
Time:                        14:16:14   Log-Likelihood:                -36.243
No. Observations:                  23   AIC:                             76.49
Df Residuals:                      21   BIC:                             78.76
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.7052      1.615      3.532      0.002       2.346       9.065
English       -0.0039      0.003     -1.505      0.147      -0.009       0.002
==============================================================================
Omnibus:                        0.120   Durbin-Watson:                   0.777
Prob(Omnibus):                  0.942   Jarque-Bera (JB):                0.306
Skew:                          -0.126   Prob(JB):                        0.858
Kurtosis:                       2.495   Cond. No.                     3.90e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.9e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [25]:
model = smf.ols(formula = 'jobSatisfaction~English + stress + income', data = df)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        jobSatisfaction   R-squared:                       0.187
Model:                            OLS   Adj. R-squared:                  0.059
Method:                 Least Squares   F-statistic:                     1.458
Date:                Thu, 11 Aug 2022   Prob (F-statistic):              0.258
Time:                        14:25:55   Log-Likelihood:                -35.038
No. Observations:                  23   AIC:                             78.08
Df Residuals:                      19   BIC:                             82.62
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      4.9159      1.712      2.871      0.010       1.333       8.499
English       -0.0064      0.003     -1.931      0.069      -0.013       0.001
stress         0.2141      0.187      1.145      0.266      -0.177       0.606
income         0.0004      0.000      1.125      0.275      -0.000       0.001
==============================================================================
Omnibus:                        0.278   Durbin-Watson:                   0.989
Prob(Omnibus):                  0.870   Jarque-Bera (JB):                0.457
Skew:                          -0.036   Prob(JB):                        0.796
Kurtosis:                       2.313   Cond. No.                     3.00e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large,  3e+04. This might indicate that there are
strong multicollinearity or other numerical problems.